$primary-color: #4dbd8b;
$border-color: #ebeef5;
$danger-color: #f56c6c;
$success-color: #67c23a;
$warning-color: #e6a23c;
$info-color: #909399;
$purple-color: #947bf7;

$color-gray: #000;
$color-gray3: #333;
$color-gray6: #666;
$color-gray9: #999;
$color-grayb: #bbb;
$color-grayf: #fff;
$primary-color-active: #3a8ee6;

$shadow-color: #e5e5e5;
$shadow-hover-color: #c5c5c5;
$bgf-color: #fff;

@import "./mixin.scss";
