#home {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  .back-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("../../assets/images/homebg.svg") 50% / cover no-repeat;
    z-index: -1;
  }
  .home-contariner {
    display: flex;
    justify-content: space-between;
  }
  .contariner-box {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    // background: $bgf-color;
    &::after {
      // content: "";
      // width: 100%;
      // height: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
      // filter: blur(20px);
    }
  }

  .contariner-left {
    width: 70%;
    .article-item {
      margin-bottom: 15px;
      opacity: 0;
      transform: translateX(-100%);
    }
    .animate__slideInLeft {
      opacity: 1;
    }
  }

  .contariner-right {
    width: 25%;
    min-width: 250px;
    .hot-fixed {
      position: sticky;
      top: 80px;
      background: #fff;
    }
  }

  .hover-shadow {
    box-shadow: 0 0 10px $shadow-color;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 15px $shadow-hover-color;
    }
  }
}
