.table_wrap {
  width: 100%;
  height: 400px;
  overflow: auto;
  border-bottom: 1px solid #61dafb;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #dddddd;
}

/* 表格th/td样式 */
td,
th {
  width: 150px;
  box-sizing: border-box;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  /*超出长度...*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 30px;
}

/* 表头固定 */
thead tr th {
  position: sticky;
  top: 0;
  background: #f4f4f5;
  height: 30px;
}

/* 首列固定/最后一列固定*/
th:first-child,
// th:last-child,
td:first-child {
  // td:last-child {
  position: sticky;
  left: 0;
  background: #f4f4f5;
  text-align: center;
  right: 0px;
  border-left: 1px solid #dddddd;
  width: 100px;
}

/* 表头首列和最后一列强制最顶层 */
th:last-child,
th:first-child {
  z-index: 3;
  /*左上角单元格z-index，切记要设置，不然表格纵向横向滚动时会被该单元格右方或者下方的单元格遮挡*/
  background: #f4f4f5;
}
// <div class="table_wrap">
//       <table>
//         <thead>
//           <tr>
//             <th>姓名</th>
//             <th v-for="table in days" :key="table.date">
//               {{ table.date }} -{{ table.week }}
//             </th>
//           </tr>
//         </thead>
//         <tbody>
//           <tr v-for="table in arr" :key="table.name">
//             <td>{{ table.name }}</td>
//             <td v-for="item in table.data" :key="item.dateText">
//               {{ item["签到时间"] }} ---- {{ item["签退时间"] }}
//             </td>
//           </tr>
//         </tbody>
//       </table>
//     </div>
