//->主题颜色格式化
$color-border: #EBEEF5;//#f2f2f2;
$color-background: #f6f6f6;
// $color-primary:#0089ff;//#409EFF;
// $color-primary:#de0a0a;
$color-primary:#4dbd8b;
$color-danger:#F56C6C;
$color-success:#67C23A;
$color-warning:#E6A23C;
$color-info:#909399;
$color-purple:#947BF7;
/******/
$color-gray: #000;
$color-gray3: #333;
$color-gray6: #666;
$color-gray9: #999;
$color-grayb: #bbb;
$color-grayf: #fff;
$color-primary-active:#3a8ee6;

